*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: sans-serif;
}
nav{
    height: 80px;
    width: 100%;
    background: #34495e;

}
label.logo
{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;

}
nav ul{
    float: right;
    margin-right: 40px;

}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a{
    color: white;
    font-size: 18;
    text-transform: uppercase;
    padding: 7px 10px;
}
a.active,a:hover{
    border: 1px solid rgb(231, 227, 227);
    transition: .5s;
}