{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Registration</title>
</head>

<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">

                <form action="{% url 'login' %}" class="sign-in-form" method="POST">
                    {% csrf_token %}
                    <h2 class="title">Sign in</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username" name="username">
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input id="psw" type="password" placeholder="Password" name="password" />
                    </div>
                    <div class="shps" style="margin-top: 1em;">
                        Show Password: <input type="checkbox" name="showpass" id="showpass" onclick="showPass()" style="height: 9px;">
                    </div>
                    <input type="submit" class="btn" value="Login">
                    <p class="p"><a href="{% url 'signup' %}">click here</a>  to create account</p>
                    <div class="social-media" style="margin-top: 2em;color: red;">
                        {{error}}
                    </div>
                </form>

            </div>
        </div>
    </div>
    </div>
    <script src="{% static 'js/authentication.js' %}"></script>
</body>

</html>