{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/sritlogo.png' %}" type="image/x-icon">
    <title>Admin panel</title>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/admin_style.css' %}" />
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 1em;
        }

        tr:nth-child(even) {
            background-color: #f7f7f7;
        }

        input.button {
            float: right;
            margin-right: 2.1em;
            padding: .2em .6em;
            font-size: 1em;
            border: 0px;
            background-color: #5937a8;
            color: white;
            margin-top: 2em;
        }

        input.button:hover {
            background-color: #7b43ff;
        }
    </style>

</head>

<body>
    <section id="sidebar">
        <div class="sidebar-brand">
            <img src="{% static 'img/sritlogo.png' %}" width="70" height="70">
        </div>
        <div class="sidebar-menu">
            <ul>
                <li><a href="{% url 'dashboard' %}"><span> Home</a></li>
                <li style="background-color:darkblue;"  ><a href="{% url 'marks' %}"><span> Marks</a></li>
                <li><a href="{% url 'activities' %}"><span> Activities</a></li>
                <li><a href=""><span> Progress</a>
                    <ul>
                        <li><a href="{% url 'subjectWise' %}"><span> Subject Wise</a></li>
                        <li><a href="{% url 'overall' %}"><span> Overall</a></li>
                    </ul>

                </li>
                <li><a href="{% url 'report' %}"><span> Report</a></li>
                <li><a href="{% url 'suggestion' %}"><span> Suggestions</a></li>
            </ul>
        </div>
    </section>

    <section id="main-content">
        <header class="main-header">
            <div class="header-left">
                <h2> Welcome Admin</h2>
            </div>
            <div class="header-left">
            </div>
            <div class="header-left">
                <img src="{% static 'img/user.png' %}" class="img-responsive">
                <h2>SRIT</h2>
                <p>Admin</p>
            </div>
            <div class="clear"></div>
        </header>
    </section>

    <section style="padding: 9em; margin-left:20em;">
        <form action="{% url 'dashboard' %}" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td style="background-color: #7b43ff; color:white;">
                        <b> SUBJECT </b>
                    </td>
                    <td style="background-color: #7b43ff;color:white;">
                        <b>MID 1</b>
                    </td>
                    <td style="background-color: #7b43ff;color:white;">
                        <b>MID 2</b>
                    </td>
                    <td style="background-color: #7b43ff;color:white;">
                        <b>EXTERNAL</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        Subject 1
                    </td>
                    <td>
                        <input type="text" style="border:0px;background-color:#f7f7f7;font-size:1em;width:2em;"
                            name="sti" value="24">
                    </td>
                    <td>
                        <input type="text" style="border:0px;background-color:#f7f7f7;font-size:1em;width:2em;"
                            name="sti" value="25">
                    </td>
                    <td>
                        <input type="text" style="border:0px;background-color:#f7f7f7;font-size:1em;width:2em;"
                            name="sti" value="-">
                    </td>
                </tr>
                <tr>
                    <td>
                        Subject 2
                    </td>
                    <td>
                        <input type="text" style="border:0px;background-color:white;font-size:1em;width:2em;" name="sti"
                            value="25">
                    </td>
                    <td>
                        <input type="text" style="border:0px;background-color:white;font-size:1em;width:2em;" name="sti"
                            value="22">
                    </td>
                    <td>
                        <input type="text" style="border:0px;background-color:white;font-size:1em;width:2em;" name="sti"
                            value="-">
                    </td>
                </tr>
                <tr>
                    <td>
                        Subject 3
                    </td>
                    <td>
                        <input type="text" style="border:0px;background-color:#f7f7f7;font-size:1em;width:2em;"
                            name="sti" value="22">
                    </td>
                    <td>
                        <input type="text" style="border:0px;background-color:#f7f7f7;font-size:1em;width:2em;"
                            name="sti" value="21">
                    </td>
                    <td>
                        <input type="text" style="border:0px;background-color:#f7f7f7;font-size:1em;width:2em;"
                            name="sti" value="-">
                    </td>
                </tr>
                <tr>
                    <td>
                        Subject 4
                    </td>
                    <td>
                        <input type="text" style="border:0px;background-color:white;font-size:1em;width:2em;" name="sti"
                            value="21">
                    </td>
                    <td>
                        <input type="text" style="border:0px;background-color:white;font-size:1em;width:2em;" name="sti"
                            value="26">
                    </td>
                    <td>
                        <input type="text" style="border:0px;background-color:white;font-size:1em;width:2em;" name="sti"
                            value="-">
                    </td>
                </tr>
                <tr>
                    <td>
                        Subject 5
                    </td>
                    <td>
                        <input type="text" style="border:0px;background-color:#f7f7f7;font-size:1em;width:2em;"
                            name="sti" value="26">
                    </td>
                    <td>
                        <input type="text" style="border:0px;background-color:#f7f7f7;font-size:1em;width:2em;"
                            name="sti" value="19">
                    </td>
                    <td>
                        <input type="text" style="border:0px;background-color:#f7f7f7;font-size:1em;width:2em;"
                            name="sti" value="-">
                    </td>
                </tr>
                <tr>
                    <td>
                        Subject 6
                    </td>
                    <td>
                        <input type="text" style="border:0px;background-color:white;font-size:1em;width:2em;" name="sti"
                            value="19">
                    </td>
                    <td>
                        <input type="text" style="border:0px;background-color:white;font-size:1em;width:2em;" name="sti"
                            value="24">
                    </td>
                    <td>
                        <input type="text" style="border:0px;background-color:white;font-size:1em;width:2em;" name="sti"
                            value="-">
                    </td>
                </tr>
            </table>
            <input type="submit" value="Predict" class="button">
            <input type="submit" value="Save" class="button">
        </form>
    </section>



</body>

</html>