{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Registration</title>
    <style>
        .head {
            margin-left: 40em;
            margin-top: -5.3em;
            position: absolute;
        }
        .head img {
            width: 85%;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <span class="head"><a href="{% url 'index' %}"><img src="{% static 'img/sritlogo.png' %}" alt="srit_logo"></a></span>
                <form action="{% url 'signup' %}" class="sign-in-form" onsubmit="return checkPass()" method="POST">
                    {% csrf_token %}
                    <h2 class="title">Sign up</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username" name="username" />
                    </div>

                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Roll Number" name="rollnumber" maxlength="10" minlength="10" />
                    </div>


                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input id="psw" type="password" placeholder="Password" name="psw" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input id="cpsw" type="password" placeholder="Confirm Password" name="cpsw" />
                    </div>
                    <div class="shps" style="margin-top: 1em;">
                        Show Password: <input type="checkbox" name="showpass" id="showpass" onclick="showPass()" style="height: 9px;">
                    </div>
                    <span id="res" style="margin-bottom: 1em; color:red;"></span> <br> <br>
                    <input type="submit" class="btn" value="sign up">
                    <!-- <p class="">Don't have an account <a href="#"></a></p> -->
                    <p>If you have an account <a href="{% url 'login' %}">sign in here</a></p>
                </form>
            </div>
        </div>
    </div>
     <script src="{% static 'js/authentication.js' %}"></script>
</body>

</html>